__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
.env
.env.*
.vscode/
.idea/
*.log
node_modules/
frontend-dist/
*.tsbuildinfo
frontend-app/vite.config.js
frontend-app/vite.config.d.ts
*.sqlite3
*.db

# Environment variables
.env
.env.local
.env.*.local
